<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="index" frontName="todolist">
            <module name="Matt_TodoList"/>
        </route>
        
        <route id="test" frontName="test">
            <module name="Matt_TodoList"/>
        </route>
    </router>
</config>
